.SortingVisualizer {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  flex-direction: column;
}

.SortingVisualizer h1 {
  background: #00b09b;
  background: -webkit-linear-gradient(
    to top,
    #00b09b,
    #96c93d
  );
  background: linear-gradient(
    to top,
    #00b09b,
    #96c93d
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
