.Button {
  flex: 1 1 auto;
  margin: 5px;
  padding: 7.5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  behavior: button;
 }

.Button:hover {
  background-position: right center; /* change the direction of the change here */
}

.Button1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.Button2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.Button3 {
  background-image: linear-gradient(to right, #00b09b,  #96c93d);
}

.Button4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.Button5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}